body{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    
}

li{
    color: #f46d25;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 300%;
    font-weight: bold;
    display: inline-block;
    margin-right: 30px;
}

header a{
    text-decoration: none;
    color: #f46d25;
}

#grad1 {
    height: 1000px;
    background-color: #4C0099; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #B266FF , #4C0099);
}
