body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    color: white;
    background-color: #4C0099; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #B266FF , #4C0099);
}

header img{
    position: relative;
    top:-10px;
    float: right;
    width: 50px;
    height: 40px;
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    padding: 20px 20px;
    background-color: white;
    text-align: left;
    margin-bottom: 50px;
    box-shadow: 1px 1px 5px black;
}

header li{
    color: #000000;
    font-size: 150%;
    font-weight: bold;
    display: inline-block;
    margin-right: 30px;
}

header li a{
    text-decoration: none;
    color: #000000;
}

div#account{
    float: right; 
    padding: 10px 0;
}

div#Logo a{
    font-size: 150%;
    text-decoration: none;
    color: #f46d25;
    margin-right: 5px;
    margin-left: 5px;
}

label,
input {
    margin-left: 50px;
}

h1,
h2,
h3,
h4 {
    margin-left: 50px;
}

.flex-container {
    display: flex;
    flex-direction: column;
  }

  form{
     font-size: 200%;
  }
  form input{
      float: right;
      margin-right: 50px;
  }

  .flex-container div{
    margin-bottom: 11px;
  }

.flexboxAbbo{
    justify-content: center;
    display: flex;
    flex-direction: row;    
}

.flexboxAbbo .flexboxitem{
    border-style: solid;
    border-color: #f46d25;
    background-color: white;
    color:black;
    border-radius: 32px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 275px;
}

div p{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 200%;
}

main div li{
    margin-left: 10px;
    font-size: 150%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}

div#prijs p{
    margin-top: 30px;
}

h4{
    font-size: 200%;
}