body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: auto;
    color: white;
    background-color: #4C0099; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #B266FF , #4C0099);
}

header img{
    width: 50px;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    float: right;
    position: relative;
    top:-10px;
}

header {
    position: sticky;
    position: -webkit-sticky;
    padding: 5px 20px 20px 20px;
    background-color: white;
    margin-bottom: 50px;
    box-shadow: 1px 1px 5px black;
}

header p{
    display:inline;
    color: #000000;
    font-size: 150%;
    font-weight: bold;
    margin-right: 10px;
}

header a{
    text-decoration: none;
    color: #000000;
}

header h2{
    text-decoration: none;
    color: #000000;
    font-size: 150%;
    float: right;
    position: relative;
    top:-20px;
}

header h1 a{
    color: #f46d25;
    float: left;
    position: relative;
    top:-10px;
    margin-right: 30px;
    padding: 5px;
}

main h1,
main h2,
main h3{
    margin-left: 30px;
    font-size: 30px;
    text-shadow: 3px 2px 10px black;
}

.flexbox{
    display:flex;
    flex-wrap: wrap;
}

.flexbox-item{
    text-align: center;
    margin: 30px;
}

main img{
    width: 400px;
    height: 200px;
    outline-style: solid;
    outline-width: 6px;
    outline-color: #f46d25;
    box-shadow: 7px 10px 15px black;
}

p{
    font-size: 150%
}

div#sidebar img{
    width: 50px;
    height: 50px;
    position: relative;
    top:-50px;
}

